<div class="header-container">
  <div class="image-container">
    <div class="title-container">
      <div class="main-title">
        CaLor Trophy 2020
      </div>
      <div class="second-title">
        Vétérinaires dans le Désert
      </div>
    </div>
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/e/e2/4LTrophy928.jpg"
      alt="Trophy car"
      style="width:100%;height:100%;"
    />
  </div>
    <div id="navbar">
      <div class="flex-container">
        <div
          class="navigation-title"
          routerLink="/news"
          routerLinkActive="active"
        >
          Dernières nouvelles
        </div>
        <div
          class="navigation-title"
          routerLink="/sponsor"
          routerLinkActive="active"
        >
          Nos sponsors
        </div>
        <div
          class="navigation-title"
          routerLink="/presentation"
          routerLinkActive="active"
        >
          Présentation
        </div>
        <div
          class="navigation-title"
          routerLink="/about-us"
          routerLinkActive="active"
        >
          Qui sommes nous ?
        </div>
        <div
          class="navigation-title"
          routerLink="/contact"
          routerLinkActive="active"
        >
          Nous contacter
        </div>
        <div
          class="navigation-title"
          routerLink="/our-project"
          routerLinkActive="active"
        >
          Soutenir notre projet
        </div>
      </div>
    </div>
 
</div>
