<div class="container">
  <h1>Form de Contact</h1>
  <form [formGroup]="contactForm">
    <label for="lastName">Nom</label>
    <input
      [ngClass]="{
        'form-error': lastNameInvalid,
        'form-standard': !lastNameInvalid
      }"
      type="text"
      id="lastName"
      formControlName="lastName"
    />

    <label for="firstName">Prenom</label>
    <input
      [ngClass]="{
        'form-error': firstNameInvalid,
        'form-standard': !firstNameInvalid
      }"
      type="text"
      id="firstName"
      formControlName="firstName"
    />

    <label for="email">Email</label>
    <input
      [ngClass]="{
        'form-error': emailInvalid,
        'form-standard': !emailInvalid
      }"
      type="email"
      id="email"
      formControlName="email"
    />

    <label for="comments">Commentaires</label>
    <textarea
      [ngClass]="{
        'form-error': commentsInvalid,
        'form-standard': !commentsInvalid
      }"
      name="comments"
      id="comments"
      rows="5"
      formControlName="comments"
    ></textarea>

    <button (click)="submit()">Envoyer</button>
  </form>
</div>
