<div class="flex-container">
  <div class="navigation-title" routerLink="/news" routerLinkActive="active">
    Dernières nouvelles
  </div>
  <div class="navigation-title" routerLink="/sponsor" routerLinkActive="active">
    Nos sponsors
  </div>
  <div
    class="navigation-title"
    routerLink="/presentation"
    routerLinkActive="active"
  >
    Présentation
  </div>
  <div
    class="navigation-title"
    routerLink="/about-us"
    routerLinkActive="active"
  >
    Qui sommes nous ?
  </div>
  <div class="navigation-title" routerLink="/contact" routerLinkActive="active">
    Nous contacter
  </div>
  <div
    class="navigation-title"
    routerLink="/our-project"
    routerLinkActive="active"
  >
    Soutenir notre projet
  </div>
</div>
